        </div>
      </div>
    </main>    
    <footer class="footer">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="footer-content">
              <span class="text-muted">
                %FOOTERLINKS%
              </span>
              <span class="text-muted deployment-info">
                <small>%DEPLOYMENT_INFO%</small>
              </span>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/scripts.js"></script>
  </body>
</html>
