<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>%TITLE%</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
          <nav class="navbar navbar-expand-sm navbar-light">
            <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item %UNREAD_ACTIVE%">
                  <a class="nav-link" href="/">Unread%UNREAD_COUNT%</a>
                </li>
                <li class="nav-item %BOOKMARKS_ACTIVE%">
                  <a class="nav-link" href="/bookmarks">Bookmarks%BOOKMARKS_COUNT%</a>
                </li>
              </ul>
              <ul class="navbar-nav pull-right">
                <li class="nav-item %FEEDS_ACTIVE%">
                  <a class="nav-link" href="/feeds">Feeds</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-10">
